<!DOCTYPE html>
<html>
<head>
    <title>Add Expense</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function suggestCategory() {
            let name = document.getElementById("name").value.toLowerCase();
            let suggestion = document.getElementById("suggestion");

            if (name.includes("trouser") || name.includes("shirt")) {
                suggestion.innerHTML = "Suggested: Clothing";
            } else if (name.includes("bus") || name.includes("fare")) {
                suggestion.innerHTML = "Suggested: Transport";
            } else if (name.includes("meal") || name.includes("food")) {
                suggestion.innerHTML = "Suggested: Food";
            } else {
                suggestion.innerHTML = "Suggested: Other";
            }
        }


        function toggleCategoryBox() {
            let category = document.getElementById("category").value;
            let box = document.getElementById("newCategoryBox");

            if (category === "__new__") {
                box.style.display = "block";
            } else {
                box.style.display = "none";
            }
        }
    </script>
</head>

<body>

<h1>{% if request.args.get('edit_id') %}Edit Expense{% else %}Add Expense{% endif %}</h1>

<form method="POST">
    {% if request.args.get('edit_id') %}
    <input type="hidden" name="edit_id" value="{{ request.args.get('edit_id') }}">
    {% endif %}

    <!-- NAME -->
    <label>Expense Name</label>
    <input type="text" id="name" name="name" placeholder="e.g. Lunch, Bus fare" onkeyup="suggestCategory()" value="{{ request.args.get('name', '') }}" required>
    <small id="suggestion" style="color: gray;"></small>

    <!-- CATEGORY -->
    <label>Category</label>
    <select id="category" name="category"
        onchange="toggleCategoryBox();" required>

    {% for cat in categories %}
        <option value="{{ cat }}" {% if cat == request.args.get('category') %}selected{% endif %}>{{ cat }}</option>
    {% endfor %}

    <option value="__new__">➕ Add New Category</option>
</select>

    <!-- NEW CATEGORY -->
<div id="newCategoryBox" style="display:none;">
    <label>New Category</label>
    <input type="text" name="new_category" placeholder="Enter new category">
</div>

    <!-- AMOUNT -->
    <div id="amount-box">
    <label>Amount (TSh)</label>
    <input type="number" name="amount" placeholder="Enter amount" value="{{ request.args.get('amount', '') }}" required>
    </div>

    <button type="submit">{% if request.args.get('edit_id') %}💾 Update Expense{% else %}💾 Save Expense{% endif %}</button>

</form>

<br>
<a href="/">⬅ Back</a>

</body>
</html>